@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat&family=Shrikhand&display=swap");
/* -------------------------------- 

xTypography 

-------------------------------- */
h1 {
  font-family: "Fredericka the Great", cursive;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 0.4em;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.1rem;
  }
}

header h2 {
  font-family: "Fredericka the Great", cursive;
  color: #f4c56a;
  margin: 1em 0;
  font-size: 1.2rem;
}
@media only screen and (min-width: 768px) {
  header h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  header h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-family: "shrikhand", cursive;
  color: #e75443;
}
@media only screen and (min-width: 360px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.7rem;
  }
}

h3.select,
h3.archives,
h3.resources {
  font-family: "Fredericka the Great", cursive;
  color: #85573d;
}
@media only screen and (min-width: 360px) {
  h3.select,
h3.archives,
h3.resources {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  h3.select,
h3.archives,
h3.resources {
    font-size: 1rem;
  }
}

.preamble h3 {
  font-family: "Fredericka the Great", cursive;
  color: #f4c56a;
  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .preamble h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .preamble h3 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1;
  color: #a86e4d;
  text-align: left;
}
p a {
  color: #81d2af;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 1rem;
  }
}

.intro p {
  color: #ffffff;
  font-weight: 100;
}

.summary {
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .sidebar ul li a {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .sidebar ul li a {
    font-size: 0.8rem;
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #383838;
}

/*specific divs*/
.page-wrapper {
  display: grid;
  grid-template-columns: 100%;
  margin: 2%;
  grid-column-gap: 3em;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .page-wrapper {
    grid-template-columns: 40% 45% 11%;
    grid-column-gap: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  .page-wrapper {
    grid-template-columns: 40% 45% 11%;
    grid-column-gap: 2em;
  }
}

.main {
  background: url("/projector-screen.png") no-repeat;
  background-position-x: center;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px;
  /* IE and Edge hide scrollbar*/
  -ms-overflow-style: none;
  /* hide scrollbar in Firefox */
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
  display: none;
}

.intro {
  background-color: #1e1e1e;
  padding: 1em;
  border: 15px solid #81d2af;
  height: 500px;
  overflow: hidden;
}

.wrapper {
  background-color: #f4c56a;
  margin-top: 20px;
  padding: 0.5em;
  border: 5px solid #e75443;
  border-radius: 1em;
  height: 600px;
  overflow: hidden;
}

.explanation,
.participation,
.benefits,
.requirements,
footer {
  margin-bottom: 3em;
  margin-top: 2em;
}

/*# sourceMappingURL=style.scss.map*/

/*# sourceMappingURL=style.css.map */
