/* -------------------------------- 

xTypography 

-------------------------------- */

//fonts 
$primary-font:'Montserrat',
san-serif;
$secondary-font:'Fredericka the Great',
cursive;
$slideheading-font:'shrikhand',
cursive;
h1 {
    font-family: $secondary-font;
    color: $color-5;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 0.4em;
    @include MQ(M) {
        font-size: 2.0rem;
    }
    @include MQ(L) {
        font-size: 2.1rem;
    }
}

header h2 {
    font-family: $secondary-font;
    color: $color-4;
    margin: 1em 0;
    font-size: 1.2rem;
    @include MQ(M) {
        font-size: 1.5rem;
    }
    @include MQ(L) {
        font-size: 1.5rem;
    }
}

h3 {
    font-family: $slideheading-font;
    color: $color-3;
    @include MQ(S) {
        font-size: 1.5rem;
    }
    @include MQ(M) {
        font-size: 1.7rem;
    }
}

h3.select,
h3.archives,
h3.resources {
    font-family: $secondary-font;
    color: $color-2;
    @include MQ(S) {
        font-size: 1rem;
    }
    @include MQ(M) {
        font-size: 1rem;
    }
}

.preamble h3 {
    font-family: $secondary-font;
    color: $color-4;
    font-weight: 300;
    @include MQ(M) {
        font-size: 1.5rem;
    }
    @include MQ(L) {
        font-size: 1.5rem;
    }
}

p {
    font-size: 1rem;
    line-height: 1;
    color: lighten($color-2, 10%);
    text-align: left;
    a {
        color: $color-1;
        text-decoration: underline;
    }
    @include MQ(M) {
        font-size: 1rem;
    }
    @include MQ(L) {
        font-size: 1rem;
    }
}

.intro p {
    color: $color-5;
    font-weight: 100;
}

.summary {
    font-style: italic;
}

.sidebar ul li a {
    @include MQ(M) {
        font-size: .8rem;
    }
    @include MQ(L) {
        font-size: .8rem;
    }
}